<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".GlobalVars"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArtProject"
        tools:targetApi="31">
        <activity
            android:name=".UserPhotosActivity"
            android:exported="false"
            android:label="@string/title_activity_user_photos"
            android:theme="@style/Theme.ArtProject" />
        <activity
            android:name=".CreatePostActivity"
            android:exported="false"
            android:label="@string/title_activity_create_post"
            android:theme="@style/Theme.ArtProject" />
        <activity
            android:name=".FriendAccount"
            android:exported="false" />
        <activity
            android:name=".Chats"
            android:exported="false" />
        <activity
            android:name=".Navigation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MyAccount"
            android:exported="false" />
        <activity
            android:name=".HomePageGallery"
            android:exported="false" />
        <activity
            android:name=".Subscriptions"
            android:exported="false" />
        <activity
            android:name=".Messages"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Reg"
            android:exported="false" />
        <activity
            android:name=".Entry"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>